.gallery{
}
.carousel{
    width: 60%;
    height: 540px;
    overflow: hidden;
    border-radius: 10px;

}
.carousel-item>img{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    object-fit: cover;


}
.img-fluid{
    opacity: 90%;
    width: 30%;
    height: 300px;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .gallery{
    }
    .carousel{
        width: 80%;
        height: 215px;
        overflow: hidden;
        border-radius: 10px;
       }
    .carousel-item>img{
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        border-image: fill;
    }
    .img-fluid{
        opacity: 90%;
        width: 33%;
        height: 130px;
        margin-top: 10px;
    }

}

@media (min-width: 701px) and (max-width: 1024px) {
    .gallery{
    }
    .carousel{
        width: 60%;
        height: 340px;
        overflow: hidden;
        border-radius: 10px;
    
    }
    .carousel-item>img{
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        object-fit: cover;
    
    
    }
    .img-fluid{
        opacity: 90%;
        width: 30%;
        height: 300px;
        margin-top: 10px;
    }
    
}